---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
renderData:
  title: "Thoughts on {{ tag | capitalize}}"
  metaDescription: "All posts about {{ tag }}"
---

<h1>{{ tag | capitalize }}</h1>

{% set postslist = collections[tag] %}
{% include "components/postslist.njk" %}

<nav>
  <a href="{{ '/thoughts/' | url }}">Read all posts</a>
</nav>
