:root {
	
	--primary: #454545 ;
	--primary2: #696969;
	--secondary: #dddddd;
	--secondary2: #adadad;

	--background: white;
	--link: #0077aa;
	--link-hover: #4eacd4;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: #ddd;
		--primary2: #838383;
		--secondary2: #4d4d4d;
		--secondary: #333;
		--background: #222;
	}
}


*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	color: var(--primary);
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}



body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--background);
	max-width: 800px;
	margin: auto;
	padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

p,
pre,
code {
	line-height: 1.5;
}

a[href] {
	color: var(--link);
	text-decoration: none;
	transition: color 500ms;
}

a[href]:hover {
	color: var(--link-hover);
}

img {
	max-width: 100%;
	height: auto;
}

header,
main,
footer {
	padding: 1em;
}

main {
	padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

/* Header Logo (style as h2) */
header > em {
	display: block;
	font-size: 2em;
	margin: .67em 0;
	font-weight: 500;
	font-style: normal;
}

header em a{
	text-decoration: none;
	color: var(--primary) !important;
}


/* Header Nav */
header nav ul {
	padding: 0;
	list-style: none;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .25em;
}

header nav li a {
	margin: .25em .5em;
	text-decoration: none;
	color: var(--primary2) !important;
	font-weight: 500;
	transition: color 500ms;
}

header nav li a:hover {
	color: var(--primary) !important;
}

header nav li a[data-current="current item"] {
	color: var(--primary) !important;
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
}

article h3 a {
	color: var(--primary) !important;
}



main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
	background-color: var(--secondary);
	color: var(--primary);
  text-decoration: none;
	margin: 0 .5em .5em 0;
	transition: background-color 500ms;
}

a[rel="tag"]:hover {
	background-color: var(--secondary2);
	color: var(--primary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
  
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
  background-color: var(--secondary);
  color: var(--primary);
  font-family: inherit;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: none;
	cursor: pointer;
}

footer {
	text-align: center;
}
footer #wcb {
	margin-top: 1em;
}


.jumbo-text {
	margin-bottom: 2em;
	font-weight: 300;
}

.section-title {
	margin-bottom: 0;
}


.quotes {
	list-style: none;
	padding-left: 0;
}

.quotes li p{
	margin: 0;
}

.quotes li h4{
	margin: 0;
	font-weight: 300;
}

.quotes li{
	margin-bottom: 2rem;
}

.subtitle {
	color: var(--primary2)
}

.summary-title {
	margin-bottom: 0.25rem;
}

#my-beautiful-face {
	margin: auto;
	height: 200px;
	border-radius: 4px;
}

#wcb_2 {
	color: var(--primary) !important;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}
