<footer>
  <small>
    Made with 11ty, Netlify, love, and a little bit of code you can view on <a href="{{ pkg.repository.url }}">GitHub</a>.
  </small>
  <div id="wcb" ></div>
  <script src="https://unpkg.com/website-carbon-badges@1.1.1/b.min.js" defer></script>
</footer>
