---
layout: layouts/base.njk
section: thoughts
permalink: /thoughts/index.html
---

{{ layoutContent | safe }}

{% set postslist = collections.post %}
{% include "components/postslist.njk" %}

<a href="/feed.xml">RSS Feed</a>
